html{
	width:100%;
	color: #FBFCFE;
	font-family: "Roboto Sans Light";
	font-size: 16px;
	background-color: #352D2A;
}

body{
		margin-top: 10%;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
}

input[type=text]{
	background-color: #352D2A;
	width: 100%;
	font-size: 16px;
	border: 1px solid #C7C799;
	border-radius: 1em;
	padding: 1em;
}

a{
		color:#C7C799;
		text-decoration: none;
}      /* unvisited link */
a:visited {color:#C7C799;
		text-decoration: none;
}  /* visited link */
a:hover {color:#C7C799;
		text-decoration: none;
}  /* mouse over link */
a:active {color:#C7C799;
		text-decoration: none;
}  /* selected link */
li{
	list-style-type: none;
	margin-bottom: 1em;
	color: #C7C799;
}