html{
	width:100%;
	color: #F9F9F9;
	font-family: "Roboto Sans Light";
	font-size: 16px;
	background-color: #334B70;
}

body{
		margin-top: 10%;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
}

input[type=text]{
	background-color: #334B70;
	color: #F9F9F9;
	width: 100%;
	font-size: 16px;
	border: 1px solid #B28E8E;
	border-radius: 1em;
	padding: 1em;
}

a{
		color:#B28E8E;
		text-decoration: none;
}      /* unvisited link */
a:visited {color:#B28E8E;
		text-decoration: none;
}  /* visited link */
a:hover {color:#B28E8E;
		text-decoration: none;
}  /* mouse over link */
a:active {color:#B28E8E;
		text-decoration: none;
}  /* selected link */
li{
	list-style-type: none;
	margin-bottom: 1em;
	color: #B28E8E;
}